<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'charts/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'charts/css/font-awesome.min.css' %}" />	
	<link rel="stylesheet" type="text/css" href="{% static 'charts/css/metisMenu.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'charts/css/sb-admin-2.css' %}" />
	{% block styles %}{% endblock %}

    <script type="text/javascript" src="{{ STATIC_URL }}charts/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}charts/js/jquery.cookie-1.4.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}charts/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}charts/js/metisMenu.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}charts/js/sb-admin-2.js"></script>
    {% block scripts %}{% endblock scripts %}
</head>

<body>

   <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <span><img style="max-width:90px; margin-top: -7px; margin-right: 10px;" src="{{ STATIC_URL }}charts/img/logo.png" title="Homepage" alt="Yocto logo project"></span>
                    Custom Reports
                </a>
            </div>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <form method="get" action="{% url 'charts:search' %}">
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control" placeholder="Search..." />
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="{% url 'charts:filter' %}"><i class="fa fa-filter fa-fw"></i> Custom Filters</a>
                        </li>
                        <li>
                            <a href="{% url 'charts:dashboard' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Menu<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Submenu 1</a>
                                </li>
                                <li>
                                    <a href="#">Submenu 2</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>


        {% block body %}{% endblock %}
        

    </div>
    <!-- /#wrapper -->

</body>
</html>
