{% extends "charts/base-layout.html" %}

{% block title %}Charts{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["bar"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var mydata = new google.visualization.DataTable();

        mydata.addColumn('string', 'Date');
        mydata.addColumn('number', 'Passed');
        mydata.addColumn('number', 'Failed');

        {% for info in results %}
            mydata.addRow(
              ['{{ info.date }}', {{ info.passed }}, {{ info.failed }}]
            );
        {% endfor %}

        var options = {
          isStacked: true,
          chart: {
            title: 'Test Chart',
            subtitle: 'first demo column bar chart',
          },
          animation: {
            duration: 10000,
            easing: 'in',
            startup: true
          },
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(mydata, google.charts.Bar.convertOptions(options));

        $(window).resize(function(){
          chart.draw(mydata, google.charts.Bar.convertOptions(options));
        });
      }
    </script>

{% endblock scripts %}

{% block body %}
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Runtime tests</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="columnchart_material" style="width: 1000px; height: 500px;"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                            <a href="#" class="btn btn-default btn-block">View Details</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    
{% endblock body %}