{% extends "charts/base.html" %}

{% block title %}Charts{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var mydata = new google.visualization.DataTable();

        mydata.addColumn('string', 'Date');
        mydata.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});
        mydata.addColumn('number', 'Passed');
        mydata.addColumn('number', 'Failed');

        var ids = {};
        {% for testrun in testruns %}
            mydata.addRow(
              ['{{ testrun.date }}',
               '<div style="padding:5px 5px 5px 5px;">' +
                  '<b>Passed: {{ testrun.passed }} Failed: {{ testrun.failed }}</b><br/><br/>' +
                  '<b>Commit</b>:<br/> {{ testrun.commit }}<br/><br/>' +
                  '<b>Target</b>:<br/> {{ testrun.target }}<br/><br/>' +
                  '<b>Image type</b><br/> {{ testrun.itype }}' +
                '</div>',
               {{ testrun.passed }},
               {{ testrun.failed }}
               ]);
            ids[{{ forloop.counter0 }}] = {{ testrun.id }};
        {% endfor %}


        var options = {
          height: 500,
          chartArea: {width: '90%', height: '80%'},
          focusTarget: 'category',
          tooltip: {isHtml: true},

          legend: 'none',

          colors: ['#6dc066', '#bd0909'],

          isStacked: true,
          chart: {
            title: 'Test Chart',
            subtitle: 'first demo column bar chart',
          },
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('columnchart'));

        function selectHandler() {
          var selectedItem = chart.getSelection()[0];
          if (selectedItem) {
            var newlink = {% url 'charts:base_testrun' as link %}"{{ link | escapejs }}" + ids[selectedItem.row];
            window.location.href = newlink;
          }
        }
        google.visualization.events.addListener(chart, 'select', selectHandler);

        chart.draw(mydata, options);
      }

      $(window).resize(function() {
          drawChart();
        });
    </script>

{% endblock scripts %}

{% block body %}
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Last 10 Runtime tests</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="columnchart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                            <a href="#" class="btn btn-default btn-block">View Details</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    
{% endblock body %}