{% extends "charts/base-layout.html" %}

{% block title %}Yocto QA Tests{% endblock %}

{% block scripts %}


{% endblock scripts %}

{% block body %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Hello</h1>
                    {% for raw_release, obj in testruns.items %}
                      <h2> {{ raw_release }} with </h2>
                      <h4> {{ obj.passed }} </h4>
                      <h4> {{ obj.failed }} </h4>
                    {% endfor %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /#page-wrapper -->


{% endblock body %}