{% extends "charts/base.html" %}

{% block title %}Yocto QA Tests{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1.1", {packages:['corechart']});
        google.setOnLoadCallback(drawChart);

        var chart, data, options;

        function drawChart() {

            data = new google.visualization.DataTable();

            data.addColumn('string', 'Release');
            data.addColumn('number', 'Passed');
            data.addColumn('number', 'Failed');

            var ids = {};
            {% for release, obj in testruns.items %}
                data.addRow(
                    ['{{ release }}',
                      {{ obj.passed }},
                      {{ obj.failed }}
                    ]);
                ids[{{ forloop.counter0 }}] = '{{ release }}';
            {% endfor %}

            options = {
                title : 'Tests run for version {{ version }}',
                height : 500,
                chartArea : {width: '80%', height: '80%'},
                theme : 'material',
                colors : ['#4CAF50', '#F44336'],
                isStacked : true,
            };

            chart = new google.visualization.ColumnChart(document.getElementById('columnchart'));

            function selectHandler() {
                var selectedItem = chart.getSelection()[0];
                if (selectedItem != null && selectedItem.row != null && selectedItem.column != null) {
                    var newlink = {% url 'charts:base_testreport' as link %}"{{ link | escapejs }}" + ids[selectedItem.row];
                    window.location.href = newlink;
                }
            }
            google.visualization.events.addListener(chart, 'select', selectHandler);

            chart.draw(data, options);
        }

        $(window).resize(function() {
            chart.draw(data, options);
        });
    </script>

{% endblock scripts %}

{% block body %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                {% if start %}
                  Latest version is: {{ version }}
                {% else %}
                  Selected version: {{ version }}
                {% endif %}
                </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                {% if start %}
                                    Select version
                                {% else %}
                                    {{ version }}
                                {% endif %}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                {% for choice in version_form.versions.field.choices %}
                                    {% if forloop.counter0 != 0 %}
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'charts:index_2' choice.0 %}">{{ choice.0 }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <br />
                        <div id="columnchart"></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /#page-wrapper -->

{% endblock body %}
