{% extends "charts/base-layout.html" %}

{% block title %}Yocto QA Tests{% endblock %}

{% block body %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Test Case {{ testcase.testcase_id }} details</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <h3>From Test Plan: <b>{{ testcase.testplan }}</b></h3>

                    <h3>Summary:</h3>
                    <p>{{ testcase.summary }}</p>
                    <br />
                    <h3>Author: </h3>{{ testcase.author }}<br />
                    {% if testcase.tester %}
                        <h3>Tester: {{ testcase.tester }}</h3>
                    {% endif %}
                    <h3>Category: {{ testcase.category }}</h3>
                    <h3>Priority: {{ testcase.priority }}</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /#page-wrapper -->


{% endblock body %}