{% extends "charts/base.html" %}

{% block title %}Test Run details{% endblock %}


{% block body %}
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Test Run details</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-md-4 col-md-push-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Details</h2>
                        </div>
                        <div class="panel-body list-group">
                            <span class="list-group-item container-fluid row">
                                <div class="col-sm-6">
                                    <span class="list-group-item-success">
                                      <h4 class="list-group-item-heading">Passed</h4>
                                      <p class="list-group-item-text">{{ passed }}</p>
                                    </span>
                                </div>
                                <div class="col-sm-6">
                                    <span class="list-group-item-danger">
                                      <h4 class="list-group-item-heading">Failed</h4>
                                      <p class="list-group-item-text">{{ failed }}</p>
                                    </span>
                                </div>
                            </span>
                            <span class="list-group-item container-fluid row">
                                <div class="col-sm-6">
                                    <span>
                                      <h4 class="list-group-item-heading">Blocked</h4>
                                      <p class="list-group-item-text">{{ blocked }}</p>
                                    </span>
                                </div>
                                <div class="col-sm-6">
                                    <span>
                                      <h4 class="list-group-item-heading">Idle</h4>
                                      <p class="list-group-item-text">{{ idle }}</p>
                                    </span>
                                </div>
                            </span>
                            <span class="list-group-item">
                                <h4 class="list-group-item-heading">Start Date</h4>
                                <p class="list-group-item-text">{{ testrun.start_date }}</p>
                            </span>
                            <span class="list-group-item">
                                <h4 class="list-group-item-heading">Test Plan</h4>
                                <p class="list-group-item-text">{{ testrun.testplan.name }}</p>
                            </span>
                            <span class="list-group-item">
                                <h4 class="list-group-item-heading">Release</h4>
                                <p class="list-group-item-text">{{ testrun.release }}</p>
                            </span>
                            <span class="list-group-item">
                                <h4 class="list-group-item-heading">Test type</h4>
                                <p class="list-group-item-text">{{ testrun.test_type }}</p>
                            </span>
                            <span class="list-group-item">
                                <h4 class="list-group-item-heading">Poky commit - branch</h4>
                                <p class="list-group-item-text">{{ testrun.poky_commit }} on {{ testrun.poky_branch }}</p>
                            </span>
                            <span class="list-group-item">
                                <h4 class="list-group-item-heading">Target</h4>
                                <p class="list-group-item-text">{{ testrun.target }}</p>
                            </span>
                            <span class="list-group-item">
                                <h4 class="list-group-item-heading">Image type</h4>
                                <p class="list-group-item-text">{{ testrun.image_type }}</p>
                            </span>
                            <span class="list-group-item">
                                <h4 class="list-group-item-heading">HW</h4>
                                <p class="list-group-item-text">{{ testrun.hw_arch }} - {{ testrun.hw }}</p>
                            </span>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-8 col-md-pull-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">All Test Case Results</h1>
                        </div>
                        <div class="panel-body">
                            <ul>
                                {% for testcaseresult in testcaseresults %}
                                    <li style="font-size:20px;">
                                        Test case
                                        {% with "https://bugzilla.yoctoproject.org/tr_show_case.cgi?case_id="|add:testcaseresult.testcase_id as link %}
                                        <a href="{{ link }}" target="_blank">{{ testcaseresult.testcase_id }}</a>
                                        {% endwith %}
                                        {% if testcaseresult.result == 'failed' %}
                                            <span class="text-danger">{{ testcaseresult.result }}</span>:
                                            <br />
                                            <pre>{{ testcaseresult.message }}</pre>
                                        {% elif testcaseresult.result == 'passed' %}
                                            <span class="text-success">{{ testcaseresult.result }}</span>
                                        {% else %}
                                            <span >is {{ testcaseresult.result }}</span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>    
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-md-8 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    
{% endblock body %}