{% extends "charts/base.html" %}

{% block title %}Yocto QA Tests{% endblock %}

{% block body %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Select a Test Case</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form method="get" action="" class="form-inline">
                            <div class="form-group">
                            	<label >Test Case id:</label>
                                <input type="text" class="form-control" name="name">
                            </div>
                            <button type="submit" class="btn btn-primary">Go</button>
                        </form>
                        <br />
                        {% if draw_chart %}
                            {% if not is_empty %}
                                {% url 'charts:testcasetable' as xhr_table_url %}
                                {% include "charts/toastertable.html" %}
                            {% else %}
                                <h3> No results found </h3>
                            {% endif%}
                        {% endif %}

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                
            </div>
            <!-- /.col-lg-8 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /#page-wrapper -->

{% endblock body %}
