{% extends "charts/base.html" %}

{% block title %}Test Run details{% endblock %}


{% block body %}
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Test Run details</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-md-4 col-md-push-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Details</h2>
                        </div>
                        <div class="panel-body list-group">
                            <span class="list-group-item container-fluid row">
                                <div class="col-sm-6">
                                    <span class="list-group-item-success">
                                      <h4 class="list-group-item-heading">Passed</h4>
                                      <p class="list-group-item-text">{{ passed }}</p>
                                    </span>
                                </div>
                                <div class="col-sm-6">
                                    <span class="list-group-item-danger">
                                      <h4 class="list-group-item-heading">Failed</h4>
                                      <p class="list-group-item-text">{{ failed }}</p>
                                    </span>
                                </div>
                            </span>
                            <span class="list-group-item">
                                <h4 class="list-group-item-heading">Date</h4>
                                <p class="list-group-item-text">{{ date }}</p>
                            </span>
                            <span class="list-group-item">
                                <h4 class="list-group-item-heading">Commit</h4>
                                <p class="list-group-item-text">{{ commit }}</p>
                            </span>
                            <span class="list-group-item">
                                <h4 class="list-group-item-heading">Target</h4>
                                <p class="list-group-item-text">{{ target }}</p>
                            </span>
                            <span class="list-group-item">
                                <h4 class="list-group-item-heading">Image type</h4>
                                <p class="list-group-item-text">{{ itype }}</p>
                            </span>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-8 col-md-pull-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">All Test Case Results</h1>
                        </div>
                        <div class="panel-body">
                            <ul>
                                {% for testcaseresult in testcaseresults %}
                                    <li style="font-size:20px;">
                                        Test case
                                        {% url 'charts:base_testcase' as base %}
                                        {% with base|add:testcaseresult.testcase.testcase_id as link %}
                                        <a href="{{ link }}">{{ testcaseresult.testcase.testcase_id }}</a>
                                        {% endwith %}
                                        {% if testcaseresult.result == 'fail' %}
                                            <span class="text-danger">{{ testcaseresult.result }}ed</span>:
                                            <br />
                                            <pre>{{ testcaseresult.message }}</pre>
                                        {% else %}
                                            <span class="text-success">{{ testcaseresult.result }}ed</span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>    
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                </div>
                <!-- /.col-md-8 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    
{% endblock body %}